<div class='liquid bigImage absolute noise  bgPart{{id}}'>
	<img src='{{baseUrl}}/img/home/{{imageSrc}}'/>
</div>
<div class='homeHeadlineHolder translateZ bigImage absolute fullSize bgPart{{id}}'>
	<div class='hpHolder'>
		<h2 class='headline boldFont translateZ'>{{headline}}</h2>
		<a href='{{baseUrl}}/{{lang}}/apartments/orderFlat' class='links hpLink inheritSize uppercase transition whtButtons'>{{#translation 'bookTour'}}{{/translation}}</a>
	</div>
</div>